<div class="auth-container slide-{{slide}}">
    <div class="centered-panel">
        <h1 class="title">Manuele-Canu</h1>
        <h2 class="subtitle">
            <span>Sign-In</span>
            <span class="material-icons">lock</span>
        </h2>
        <div class="form-wrapper">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Username*</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="username"
                            class="form-control">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Password*</mat-label>
                        <input
                            matInput
                            type="password"
                            formControlName="password"
                            class="form-control">
                    </mat-form-field>
                </div>
                <div>
                    <button
                        mat-raised-button
                        type="button"
                        (click)="onSubmit()">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
