<mat-vertical-stepper
    [linear]="true"
    #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Choose a product</ng-template>
            <mat-radio-group
                class="products"
                name="product_name"
                formControlName="product">
                <mat-radio-button
                    *ngFor="let product of products"
                    name="product"
                    [value]="product.value">
                    {{product.text}}
                </mat-radio-button>
            </mat-radio-group>
            <div>
                <button
                    mat-button
                    matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Choose designer</ng-template>
            <div>
                <div>
                    <div>Designer Principal</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Rate</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerPrincipal_rate"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Hours</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerPrincipal_hours"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Total</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerPrincipal_total"
                            class="form-control">
                    </mat-form-field>
                </div>
                <div>
                    <div>Designer Senior</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Rate</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerSenior_rate"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Hours</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerSenior_hours"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Total</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerSenior_total"
                            class="form-control">
                    </mat-form-field>
                </div>
                <div>
                    <div>Designer</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Rate</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designer_rate"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Hours</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designer_hours"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Total</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designer_total"
                            class="form-control">
                    </mat-form-field>
                </div>
                <div>
                    <div>Designer Junior</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Rate</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerJunior_rate"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Hours</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerJunior_hours"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Total</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerJunior_total"
                            class="form-control">
                    </mat-form-field>
                </div>
                <div>
                    <div>Designer Stage</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Rate</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerStage_rate"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Hours</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerStage_hours"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Total</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="designerStage_total"
                            class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button
                    mat-button
                    matStepperPrevious>
                    Back
                </button>
                <button
                    mat-button
                    matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="accessoriesFormGroup">
        <form [formGroup]="accessoriesFormGroup">
            <ng-template matStepLabel>Choose Prototype</ng-template>
            <div class="prototype">
                <div>
                    <span>Costo prototipia base</span>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Price</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="baseCostForPrototype"
                            class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="prototype">
                <div>
                    <span>Accessori</span>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Price</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="accessories"
                            class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="prototype">
                <div>
                    <span>Altro</span>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Price</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="others"
                            class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button
                    mat-button
                    matStepperPrevious>
                    Back
                </button>
                <button
                    mat-button
                    matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fabricFormGroup">
        <form [formGroup]="fabricFormGroup">
            <ng-template matStepLabel>Choose fabric items</ng-template>
            <div>
                <span>Lana</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="wool_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="wool_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Cashmire</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="cashmire_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="cashmire_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Cotone</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="cotton_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="cotton_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Viscosa</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="viscose_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="viscose_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Ecopelle</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="ecoLeather_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="ecoLeather_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Pelle</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="leather_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="leather_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Pelle Esotica</span>
                <mat-form-field appearance="fill">
                    <mat-label>m2 per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="exoticLeather_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="exoticLeather_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <button
                    mat-button
                    matStepperPrevious>
                    Back
                </button>
                <button
                    mat-button
                    matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="smallPartsFormGroup">
        <form [formGroup]="smallPartsFormGroup">
            <ng-template matStepLabel>Choose small extra items</ng-template>
            <div>
                <span>Bottoni</span>
                <mat-form-field appearance="fill">
                    <mat-label>per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="buttons_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="buttons_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Fibbie</span>
                <mat-form-field appearance="fill">
                    <mat-label>per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="buckles_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="buckles_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Zip</span>
                <mat-form-field appearance="fill">
                    <mat-label>per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="zip_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="zip_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <span>Stress/pietre</span>
                <mat-form-field appearance="fill">
                    <mat-label>per unit</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="stones_unit"
                        class="form-control">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Base price</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="stones_price"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <button
                    mat-button
                    matStepperPrevious>
                    Back
                </button>
                <button
                    mat-button
                    matStepperNext>
                    Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="unitFormGroup">
        <form [formGroup]="unitFormGroup">
            <ng-template matStepLabel>Choose the number of pieces</ng-template>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Units</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="units"
                        class="form-control">
                </mat-form-field>
            </div>
            <div>
                <button
                    mat-button
                    matStepperPrevious>
                    Back
                </button>
                <button
                    mat-button
                    matStepperNext>
                    Next
                </button>
            </div>
        </form>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button
                mat-button
                matStepperPrevious>
                Back
            </button>
            <button
                mat-button
                (click)="stepper.reset()">
                Reset
            </button>
        </div>
    </mat-step>
</mat-vertical-stepper>
